node_modules/
.next/
out/
build/
dist/

# Local Database
.dev-db/

# Local Environment Variables
.env
.env*.local
.env.production
.env.development

# Logs & OS
*.log
.DS_Store

# C++ Binaries
bin/
settleup_cli
*.o
*.out

# Trash
_trash/
